---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  modernize-use-nullptr,
  modernize-use-override,
  performance-move-const-arg
WarningsAsErrors: ''
FormatStyle: file
...
